// Variables: Colors
// -----------------

// MONOTONE
// =============================================================================
$white: #fff;
$black: darken($white, 95%);

// Grayscale
$black-10: darken($white, 10%);
$black-20: darken($white, 20%);
$black-30: darken($white, 30%);
$black-40: darken($white, 40%);
$black-50: darken($white, 50%);
$black-60: darken($white, 60%);
$black-70: darken($white, 70%);
$black-80: darken($white, 80%);
$black-90: darken($white, 90%);


// BRAND COLORS
// =============================================================================
$brand-color: #23cbd9;


// COLOR LISTS FOR UTILITY CLASSES - see `sass/global/_utility-classes.scss
// Array format: 'class-base': $color-var, where `class-base' would output as
// both `.class-base` and `._class-base`
// =============================================================================
$color-styles: (
  'white': $white,
  'black': $black,
  'brand-color': $brand-color
);


// ELEMENT COLORS
// =============================================================================

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color:     $black;
$base-accent-color:   $brand-color;

// Link Colors
$base-link-color:     $base-accent-color;
$hover-link-color:    $base-font-color;
$base-button-color:   $base-link-color;
$hover-button-color:  $hover-link-color;
