// Variables: Utilities
// --------------------
// These vars apply to utility mixins or @extends

// SPACING VARS
// ============================================================

$space-sm: rem(10);
$space-md: rem(25);
$space-lg: rem(45);
$space-xl: rem(80);
