// Variables: Typography
// ---------------------

// Fonts
// =============================================================================

// $serif:             $georgia;
// $sans:						  $helvetica;
// $serif-alt:         $serif;
// $sans-alt:          $sans;
$base-font-family:  $sans;

// Font Sizes
// =============================================================================

$em-base: 22px !default;
$base-font-size: 22px;
$base-font-size-rem: rem(22);

// Line Height
// =============================================================================

$base-line-height: 1.4;
$base-spacing: $base-line-height * 1em;
$body-line-height: golden-ratio(1em, 1);
$header-line-height: 1.25;
