// LINKS
// ============================================================

a {
  @include standard-trans();
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}
