// Type Styles
// -----------

// GLOBAL
// =============================================================================

p + p {
  margin: ($base-spacing / 2) 0 0;
}

b,
strong {
  @include semi-bold();
}

// TYPE CLASSES
// =============================================================================

// Serif
.xl-serif {
  font-family: $serif;
  font-size: rem(75);
}

.lg-serif {
  font-family: $serif;
  font-size: rem(50);
}

.md-serif {
  font-family: $serif;
  font-size: rem(25);
}

.sm-serif {
  font-family: $serif;
  font-size: rem(10);
}

// Sans Serif
.xl-sans {
  font-family: $sans;
  font-size: rem(75);
}

.lg-sans {
  font-family: $sans;
  font-size: rem(50);
}

.md-sans {
  font-family: $sans;
  font-size: rem(25);
}

.sm-sans {
  font-family: $sans;
  font-size: rem(10);
}



// TITLES
// =============================================================================



// POST ELEMENTS
// =============================================================================



// PAGE ELEMENTS
// =============================================================================



// LIST ELEMENTS
// =============================================================================
