// Header Styles
// -------------

// HEADER RESETS
// ============================================================

// Loop through h1 - h6
@for $i from 1 through 6 {
  h#{$i} {
    @extend %header-reset;
    line-height: $header-line-height;
  }
}
