#shifter-support-top-menu:before {
  vertical-align: middle;
  content: url("../icon/shifter-icon.png");
}

td.shifter-support-url {
  word-break: break-all;
}

th.shifter-diag, td.shifter-diag {
  border-bottom: 1px solid #ddd;
}

tr.shifter-diag {
  background-color: #B766A3;
  color: white;
}

td.shifter-support-version {
  width: 7em;
}

.shifter-support-diag-content {
  display: none;
}

.shifter-support-diag-content:target {
  display: block;
}

.disable_shifter_operation {
  color: lightgray;
}
