// MAIN.SCSS
// ---------

// VENDOR STYLES
// =============================================================================

@charset 'UTF-8';
// @import '../partials/utilities/reset';                            // Eric Meyer Reset
// @import '../../../node_modules/partsandlabor/partsandlabor.scss'; // Parts and Labor
//
// // THEME STYLES
// // =============================================================================
//
// @import '../partials/utilities/base';    // Utilities
// @import '../partials/global/base';       // Globals Base
// @import '../partials/components/base';   // Components Base
// @import '../partials/layouts/base';      // Layouts Base

#shifter-support-top-menu:before {
  vertical-align: middle;
  content: url("./../../dist/images/shifter-icon.png");
}

td.shifter-support-url {
  word-break: break-all;
}

th.shifter-diag, td.shifter-diag {
  border-bottom: 1px solid #ddd;
}

tr.shifter-diag {
  background-color: #B766A3;
  color: white;
}

td.shifter-support-version {
  width: 7em;
}

.shifter-support-diag-content {
  display: none;
}

.shifter-support-diag-content:target {
  display: block;
}

.disable_shifter_operation {
  color: lightgray;
}
