// Typography Extends
// ------------------


// HEADERS
// =============================================================================

%header-reset {
  font-size: $base-font-size;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
